.flex-col 	{flex-direction: column;}
.items-center 	{align-items: center;}
.bg-red-300 	{background-color: #feb2b2;}
.bg-gray-300 	{background-color: #e2e8f0;}
.absolute 	{position: absolute;}
.inset-0 	{top: 0;
    right: 0;
    bottom: 0;
    left: 0;}
.z-0 	{z-index: 0;}
.z-10 	{z-index: 10;}
.px-4 	{padding-right: 1rem;
    padding-left: 1rem;}
.py-2 	{padding-top: 0.5rem;
    padding-bottom: 0.5rem;}
.w-48 	{width: 12rem;}
.bg-red-800 	{background-color: #9b2c2c;}
.text-white 	{color: #fff;}
.border-b 	{border-bottom-width: 1px;}
.cursor-pointer 	{cursor: pointer;}